<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"
               packages="com.hoperun.zhulongxiang.asnc_print_different_logfile">
    <Appenders>
        <console name="console" target="system_out">
            <patternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
        </console>
        <Routing name="Routing">
            <Routes pattern="$${thread:threadName}">
                <Route>
                    <RollingFile name="logFile-${thread:threadName}"
                                 append="false"
                                 fileName="logs/${thread:threadName}.log"
                                 filePattern="logs/${thread:threadName}-%d{MM-dd-yyyy}.log">
                        <PatternLayout pattern="%msg%n"/>
                        <!-- 设置每天晚上12点清除过期日志文件 -->
                        <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="5 MB"/>
                            <TimeBasedTriggeringPolicy modulate="true" />
                        </Policies>
<!--                        <DefaultRolloverStrategy max="1"/>-->
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
        <Async name="async" bufferSize="1000" includeLocation="true">
            <AppenderRef ref="Routing"/>
            <AppenderRef ref="console"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="async"/>
        </Root>
    </Loggers>
</Configuration>